
.dark-mode .page-title h3{

    color: #75da66;
}

.dark-mode .profile-wrapper h4{
    color: #fff;

}
.dark-mode .aboutme-para{
    color: #c9c9c9;
}

.dark-mode .skill-name span{
    color: #fff;
}

.dark-mode .val{
    color: #fff;
}